{% extends "network/layout.html" %}

{% block body %}
    {% for post in page_obj %}
        <div class="div-post">
            <div class="header-post">
                <span><a href="{% url 'profile' post.creator.id %}">{{post.creator}}</a></span>
                {% if post.updated_at %}
                    <span id="updated_at">Edited: {{post.updated_at}}</span>
                {% endif %}
            </div>
            <div class="content-post">
                {{post.content}}
            </div>
            <div class="footer-post">
                <span><button class="like-button" id="{{post.id}}">{{post.likes}}</button></span>
                <span id="created_at">{{post.created_at}}</span>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}